{% extends 'modals/others/base.html' %}

<!-- Modal ID -->
{% block modal-id %} id="msgFormModal" {% endblock modal-id %}

<!-- Center Modal -->
{% block modal-center %} modal-dialog-centered {% endblock modal-center %}

<!-- Modal Title -->
{% block modal-title %}
<i class="text-danger far fa-times-circle"></i>&nbsp; Sorry !
{% endblock modal-title %}

<!-- Modal Body -->
{% block modal-body %}
<div class="text-center text-primary">
    <div class="text-danger far fa-times-circle fa-5x"></div>
</div>
<div class="text-danger mb-3 mt-3" style="font-size: 18px;">
    We already have your resume in our DB.
</div>
<div class="mb-3" style="font-size: 13px;">
    Note: If you are trying to update your resume, you will get it through support page.
    <a href="{% url 'support' %}" class="text-danger ">Support Page</a>
</div>
{% endblock modal-body %}