{% extends 'base.html' %}

<!-- Block Title -->
{% block title %} Backend {% endblock title %}

<!-- Background Image Denied Here -->
{% block bg-image %} {% endblock bg-image %}

<!-- Sidebar Links -->
{% block sidebar-links %}
    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#LogoutModal">Logout</a>
    {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="btn btn-secondary" target="_blank">Admin</a>
    {% else %}
        <a href="{% url 'support' %}" class="btn btn-outline-secondary">Support</a>
    {% endif %}
    <hr><br>
    <center class="mt-3">
        <i class="fas fa-chart-pie fa-7x" style="color: #e9e9e9;"></i>
    </center>
{% endblock sidebar-links %}

<!-- Page Content -->
{% block content %}
<div class="container mt-2" style="width: 95%;">
    <span style="margin-left: -10px;">
        <strong>Welcome: <span class="text-primary">{{ user.get_username|upper }}</span></strong>
    </span>
    <div class="justify-content-center align-items-center row mt-2">
        <h6 class="btn btn-secondary btn-lg text-sm" style="width: 100%; cursor: default;">
            <strong><i class="fas fa-cog"></i>&nbsp; Control Panel</strong>
        </h6>
        <div class="card border-dark mt-2">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-xl-3 col-sm-6 col-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-success btn-lg jobs" data-bs-toggle="modal"
                            data-bs-target="#candidateModal">
                            <i class="fas fa-user-alt fa-3x"></i>
                            <br><br>Candidates
                        </button>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="col-xl-3 col-sm-6 col-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        {% for vacancy in vacancies %}
                        <button class="btn btn-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#vacanciesModal{{ vacancy.pk }}">
                                <i class="fas fa-users fa-3x"></i>
                                <br><br>Opportunities
                        </button>
                        {% include 'modals/backend/vacancies.html' %} 
                        {% endfor %}
                    </div>
                </div>
                <!-- Card 3 -->
                <div class=" col-xl-3 col-sm-6 col-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-danger btn-lg jobs">
                            <i class="fas fa-clock fa-3x"></i>
                            <br><br>Countdown
                        </button>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="col-xl-3 col-sm-6 col-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        {% for notepad in notepads %}
                        <button class="btn btn-primary btn-lg jobs" data-bs-toggle="modal" data-bs-target="#notepadModal{{ notepad.pk }}">
                                <i class="fas fa-file-alt fa-3x"></i>
                                <br><br>Notepad
                        </button>
                        {% include "modals/backend/notepad.html" %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br><br><br>
    <center>
        <button class="btn mt-5 watermark" disabled style="color: #e9e9e9; border: none;">
            <i class="fas fa-chart-pie fa-10x"></i>
        </button>
    </center>
</div>
{% endblock content %}