{% extends 'base.html' %}

<!-- Page Content -->
{% block content %}
<div class="block-position">
    <h1 class="text-light typed-text">
        We <span class="text-warning" id="element"></span>
    </h1>
    <a href="{% url 'opportunities' %}" id="btn-job" class="btn btn-outline-warning border-light mt-4 mt-sm-5">
        <i class="fas fa-chart-pie"></i>&nbsp;&nbsp; Job Opportunities
    </a>
</div>

<!-- Message Icon -->
<div>
    <button class="btn btn-warning text-dark pulse txt-sm" data-bs-toggle="modal" data-bs-target="#messageModal">
        <i class="fas fa-envelope fa-2x"></i>
    </button>
</div>
<!-- Msg Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-message">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="messageModalLabel"><i class="fas fa-envelope "></i>&nbsp; Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_message' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <textarea name="message" rows="10" class="form-control" maxlength="1000" placeholder="Send us a message..." required></textarea>
                    </div>
                    <div class="d-grid gap-2 mb-3 mt-3">
                        <button class="btn btn-warning" type="submit">Send message &nbsp;
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}